<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddress" />
                <binding name="BasicHttpBinding_ICustomer" />
                <binding name="BasicHttpBinding_IOrder" />
                <binding name="BasicHttpBinding_IOrderDetail" />
                <binding name="BasicHttpBinding_IProduct" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAddress" />
                <binding name="NetTcpBinding_ICustomer" />
                <binding name="NetTcpBinding_IOrder" />
                <binding name="NetTcpBinding_IOrderDetail" />
                <binding name="NetTcpBinding_IProduct" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CustomerCloud.WCF/Services/Address"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddress"
                contract="AddressServiceReference.IAddress" name="BasicHttpBinding_IAddress" />
            <endpoint address="net.tcp://localhost:8001/Services/Address"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAddress"
                contract="AddressServiceReference.IAddress" name="NetTcpBinding_IAddress">
                <identity>
                    <userPrincipalName value="DESKTOP-ON3KPDK\bruno" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CustomerCloud.WCF/Services/Customer"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomer"
                contract="CustomerServiceReference.ICustomer" name="BasicHttpBinding_ICustomer" />
            <endpoint address="net.tcp://localhost:8001/Services/Customer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICustomer"
                contract="CustomerServiceReference.ICustomer" name="NetTcpBinding_ICustomer">
                <identity>
                    <userPrincipalName value="DESKTOP-ON3KPDK\bruno" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CustomerCloud.WCF/Services/Order"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrder"
                contract="OrderServiceReference.IOrder" name="BasicHttpBinding_IOrder" />
            <endpoint address="net.tcp://localhost:8001/Services/Order" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOrder" contract="OrderServiceReference.IOrder"
                name="NetTcpBinding_IOrder">
                <identity>
                    <userPrincipalName value="DESKTOP-ON3KPDK\bruno" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CustomerCloud.WCF/Services/OrderDetail"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderDetail"
                contract="OrderDetailServiceReference.IOrderDetail" name="BasicHttpBinding_IOrderDetail" />
            <endpoint address="net.tcp://localhost:8001/Services/OrderDetail"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderDetail"
                contract="OrderDetailServiceReference.IOrderDetail" name="NetTcpBinding_IOrderDetail">
                <identity>
                    <userPrincipalName value="DESKTOP-ON3KPDK\bruno" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CustomerCloud.WCF/Services/Product"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProduct"
                contract="ProductServiceReference.IProduct" name="BasicHttpBinding_IProduct" />
            <endpoint address="net.tcp://localhost:8001/Services/Product"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProduct"
                contract="ProductServiceReference.IProduct" name="NetTcpBinding_IProduct">
                <identity>
                    <userPrincipalName value="DESKTOP-ON3KPDK\bruno" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
